<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Find Social Profiles</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1> Github: </h1> <span> <p class="git"><%= github %></p></span>
    <h1> Twitter: </h1> <span> <p class="twit"><%= twitter %></p></span>
  </body>
</html>
