<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Find Social Profiles</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Find Social Profiles</h1>
    <p>Please navigate to http://localhost:3000/data?candidate_url=<b>[insert your URL here]</b></p>
    <p>This nifty tool will then display a Github and/or Twitter link taken from this URL, if present</p>
  </body>
</html>
